<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrapper">
        <div class="banner">
            <div class="brand"></div>
                <h1>Company Name</h1>
                <div class="search">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Search">
                    </form>
                </div>
            

        </div>
        <div class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="leftbar">
            <h2>Vertical Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>About Us</h1>
            <img src="images/company about us.jpg" alt="" width="650px">
           <p>Companies are starting to ditch the usual boring press release and sizzle-stat press kit. Instead, they are creating more engaging bios that help potential customers understand why they should care about their company. These new, exciting bios are commonly referred to as a company bio or "About Us" page on websites.</p>
        </div>
        <div class="footer">
            &copy; Copy all right reserved
        </div>
        
    </div>
</body>
</html>