<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrapper">
        <div class="banner">
            <div class="brand"></div>
                <h1>Company Name</h1>
                <div class="search">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Search">
                    </form>
                </div>
            

        </div>
        <div class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="leftbar">
            <h2>Vertical Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Contact Us</h1>
           <fieldset style="width: 250px; height: 360px;">
            <form action="" style="width: 250px; height: 200px; line-height: 30px; padding: 25px;">
                Name: <br> <input type="text" name="" id="" placeholder="Enter Your Name"><br>
                Address: <br> <textarea name="" cols="20" rows="5" placeholder="malibagh 1st lane"></textarea><br>
                Phone Number: <br> <input type="number" name="" id="" placeholder="+8801759124024"><br>
                Email: <br> <input type="text" name="" id="" placeholder="xyx@gmail.com"><br>
                <input type="Submit" name="">|<input type="Reset" name="" id="">
            </form>
           </fieldset>
        </div>
        <div class="footer">
            &copy; Copy all right reserved
        </div>
        
    </div>
</body>
</html>