<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrapper">
        <div class="banner">
            <div class="brand"></div>
                <h1>Company Name</h1>
                <div class="search">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Search">
                    </form>
                </div>
            

        </div>
        <div class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="leftbar">
            <h2>Vertical Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Home</h1>
            <img src="images/company home.jpeg" alt="" width="700px">
            <p>The material contained in this article is provided for general information purposes only and does not constitute professional advice.Landmark home warranty does not purport to be a subject matter expert with regard to this material, and you should conduct your own research and/Or seek the advice of appropriately qualified professionals with regard to your specific circumstances before you take action. Landmark home warranty assumes no responsibility, and specifically disclaims all liability, for your use of any and all information contained herein.</p>
           
        </div>
        <div class="footer">
            &copy; Copy all right reserved
        </div>
        
    </div>
</body>
</html>